<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="60"> 
    <!-- Bootstrap core CSS -->
    <link href="http://v3.bootcss.com/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://v3.bootcss.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
  </head>


{% block body %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-12">
  <table class="table-striped">
  {% for dstshow in dstshows %}
    <tbody>
      <tr>
      <td>
        <span style="color:green;margin-right:2px; font-size:14px">{{ dstshow.ptime }}:</span>
        <span style="color:green;margin-right:2px; font-size:14px">{{ dstshow.username|safe }}</span>
        <span style="color:green;margin-right:2px; font-size:14px">{{ dstshow.reply }}:</span>
      </td>
      </tr>
    </tbody>
  {% else %}
    <em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </table>
  </div>
  </div>
</div>
{% endblock %}

</html>
