<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->


  <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
  <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>

  <script>
    //左侧Javascript代码
$(function () {
    $('#container').highcharts({
        title: {
            text: 'file distribute status',
            x: -20 //center
        },
        xAxis: {
            categories: [ {%for dstshow in dstshows |filter_by_time %}{{ dstshow }},{%endfor%} ]
        },
        yAxis: {
            title: {
                text: 'Number'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ''
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'bcloud',
            data: [ {%for dstshow in dstshows | filter_by_name('bcloud') %}{{ dstshow.reply }},{%endfor %}]
            },

            {name: 'kuaikan',
            data: [ {%for dstshow in dstshows | filter_by_name('kuaikan') %}{{ dstshow.reply }},{%endfor %}]
            },

            {name: 'lecloud',
            data: [ {%for dstshow in dstshows | filter_by_name('lecloud') %}{{ dstshow.reply }},{%endfor %}]
            },

            {name: 'letv-hdtv',
            data: [ {%for dstshow in dstshows | filter_by_name('letv-hdtv') %}{{ dstshow.reply }},{%endfor %}]
            },

            {name: 'letv-itv2',
            data: [ {%for dstshow in dstshows | filter_by_name('letv-itv2') %}{{ dstshow.reply }},{%endfor %}]
            },

            {name: 'letv-resolve',
            data: [ {%for dstshow in dstshows | filter_by_name('letv-resolve') %}{{ dstshow.reply }},{%endfor %}]
            },

            {name: 'letv-tvcloud',
            data: [ {%for dstshow in dstshows | filter_by_name('letv-tvcloud') %}{{ dstshow.reply }},{%endfor %}]
            },

            {name: 'letv-uts',
            data: [ {%for dstshow in dstshows | filter_by_name('letv-uts') %}{{ dstshow.reply }},{%endfor %}]
            },

            {name: 'music',
            data: [ {%for dstshow in dstshows | filter_by_name('music') %}{{ dstshow.reply }},{%endfor %}]
            },

            {name: 'letv-test',
            data: [ {%for dstshow in dstshows | filter_by_name('test') %}{{ dstshow.reply }},{%endfor %}]
            },

            {name: 'changba',
            data: [ {%for dstshow in dstshows | filter_by_name('changba') %}{{ dstshow.reply }},{%endfor %}]
            },

            {
            name: 'cztvcom',
            data: [ {%for dstshow in dstshows | filter_by_name('cztvcom') %}{{ dstshow.reply }},{%endfor %}]
        }]
    });
});
        
  </script>

</head>

<body>
  <div id="container" style="min-width:700px;height:400px"></div>
</body>
</html>
